node_modules/
npm-debug.log
.DS_Store
cloudflared.exe
current_url.txt
permanent_url.txt
*.zip
!public/downloads/starlite-assets.zip
!public/downloads/StarliteLauncher.zip
public/downloads/starlite-bundle.zip
